accelerate==1.6.0
auto_gptq==0.7.1
datasets==3.5.1
dill==0.3.8
evaluate==0.4.4
gptqmodel==4.2.5
gradio==5.47.0
hf_transfer==0.1.9
huggingface_hub==0.33.0
immutabledict==4.2.1
Jinja2==3.1.6
jsonlines==4.0.0
langdetect==1.0.9
math_verify==0.7.0
nltk==3.9.1
numpy==2.3.3
packaging==25.0
pandas==2.3.2
peft==0.15.2
promptsource==0.2.3
pytablewriter==1.2.1
pytest==8.4.1
PyYAML==6.0.2
PyYAML==6.0.2
regex==2024.11.6
sacrebleu==2.5.1
scikit_learn==1.7.2
setuptools==80.1.0
sqlitedict==2.1.0
sympy==1.14.0
torch==2.7.0
tqdm==4.67.1
transformers==4.53.1
zstandard==0.23.0
github-clone
